#cloud-config
users:
  - name: jnbolsen
    gecos: Administrative user
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAA_YOUR_PUBLIC_KEY_HERE
  - name: ansible
    gecos: Ansible automation user
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAA_YOUR_PUBLIC_KEY_HERE

disable_root: true
ssh_pwauth: false

package_update: true
package_upgrade: false

packages:
  - qemu-guest-agent

write_files:
  - path: /etc/ssh/sshd_config.d/99-hardening.conf
    content: |
      PermitRootLogin no
      PasswordAuthentication no
      PubkeyAuthentication yes
      ChallengeResponseAuthentication no
      UsePAM yes
      X11Forwarding no
      AllowTcpForwarding no
      AllowAgentForwarding no

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl restart ssh

final_message: "Debian 13 Cloud-Init base template ready."
